<div class="content">
    <!-- Formulario para registrar usuario -->
    <form *ngIf="showRegisterForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <h2>Registrar usuario</h2>
        <label for="registerName">Nombre:</label>
        <input type="text" id="registerName" formControlName="registerName" required>
        <label for="registerMail">Email:</label>
        <input type="email" id="registerMail" formControlName="registerMail" required>
        <label for="registerPassword">Contraseña:</label>
        <input type="password" id="registerPassword" formControlName="registerPassword" required>
        <label for="registerCargo">Cargo:</label>
        <input type="text" id="registerCargo" formControlName="registerCargo" required>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <!-- Formulario para listar usuarios -->
    <div *ngIf="showListForm" class="form">
        <h2>Usuarios</h2>
        <form [formGroup]="consultForm" (ngSubmit)="onConsultSubmit()">
            <label for="consultId">ID:</label>
            <input type="text" id="consultId" formControlName="consultId" required>
            <a *ngIf="showConsultForm" (click)="showAllUsers()" class="clear-btn">×</a>
            <br >
            <div class="button-container">
                <button type="submit">Buscar</button>
                <button (click)="toggleForm('registerForm')">Agregar Usuario</button>
            </div>
        </form>
        <table *ngIf="usuarios.length > 0" id="productsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.mail }}</td>
                    <td>{{ usuario.cargo }}</td>
                    <td>
                        <div class="button-container">
                            <button (click)="onDeleteSubmit(usuario.id)">Eliminar</button>
                            <button (click)="update(usuario.id)">Actualizar</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- Formulario para actualizar usuario por ID -->
    <form *ngIf="showUpdateForm" [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()">
        <h2>Actualizar usuario por ID</h2>
        <label for="updateId">ID:</label>
        <input type="number" id="updateId" formControlName="updateId" required>
        <label for="updateName">Nombre:</label>
        <input type="text" id="updateName" formControlName="updateName">
        <label for="updateMail">Email:</label>
        <input type="email" id="update  Mail" formControlName="updateMail">
        <label for="updateCargo">Cargo:</label>
        <input type="text" id="updateCargo" formControlName="updateCargo">
        <label for="updatePassword">Contraseña:</label>
        <input type="password" id="updatePassword" formControlName="updatePassword">
        <br>
        <button type="submit">Actualizar</button>
    </form>
</div>
