<div class="content">
    <!-- Formulario para registrar producto -->
    <form *ngIf="showRegisterForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
        <h2>Registrar Producto</h2>
        <label for="registerName">Nombre:</label>
        <input type="text" id="registerName" formControlName="registerName" required>
        <label for="registerPrice">Precio:</label>
        <input type="number" id="registerPrice" formControlName="registerPrice" required>
        <label for="registerDescription">Descripción:</label>
        <textarea id="registerDescription" formControlName="registerDescription" required></textarea>
        <label for="registerStock">Stock:</label>
        <input type="number" id="registerStock" formControlName="registerStock" required>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <!-- Formulario para listar productos -->
    <div *ngIf="showListForm" class="form">
        <h2>Productos</h2>
        <form [formGroup]="consultForm" (ngSubmit)="onConsultSubmit()">
            <label for="consultId">ID:</label>
            <input type="text" id="consultId" formControlName="consultId" required>
            <a *ngIf="showConsultForm" (click)="showAllProducts()" class="clear-btn">×</a>
            <br >
            <div class="button-container">
                <button type="submit">Buscar</button>
                <button (click)="toggleForm('registerForm')">Agregar Producto</button>
            </div>     
        </form>
        <table *ngIf="productos.length > 0"  id="productsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>
                        <div class="button-container">
                            <button (click)="onDeleteSubmit(producto.id)">Eliminar</button>
                            <button (click)="update(producto.id)">Actualizar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Formulario para actualizar producto por ID -->
    <form *ngIf="showUpdateForm" [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()">
        <h2>Actualizar Producto por ID</h2>
        <label for="updateId">ID:</label>
        <input type="number" id="updateId" formControlName="updateId" readonly>
        <label for="updateName">Nombre:</label>
        <input type="text" id="updateName" formControlName="updateName">
        <label for="updatePrice">Precio:</label>
        <input type="number" id="updatePrice" formControlName="updatePrice">
        <label for="updateDescription">Descripción:</label>
        <textarea id="updateDescription" formControlName="updateDescription"></textarea>
        <label for="updateStock">Stock:</label>
        <input type="number" id="updateStock" formControlName="updateStock">
        <br>
        <button type="submit">Actualizar</button>
    </form>
</div>
